<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="yz.l.fm.DeveloperToolsAct"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:label="developer tools"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".developer"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>